/*
 font-family: 'Roboto', sans-serif;
 font-family: 'Nunito', sans-serif;
 font-family: 'Great Vibes', cursive;
 font-family: 'Krub', sans-serif;
*/

:root {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

header {
    margin: auto;
    width: 90%;
    clear: both;
    z-index: 1;
}

#header-div {
    margin: auto;
    width: 80%;
    z-index: 1;
    height: 75px;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

html {
    max-width: 100vw;
    overflow-x: hidden;
    background-color: #151515;
}

nav {
    float: right;
}

nav > ul {
    list-style: none;
}

nav > ul > li {
    display: inline-block;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
}

nav > ul > li > a {
    color: white;
    text-decoration: none;
}

/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
    position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #aaa;
    height: 1px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}

nav ul li a:hover {
    color: #14ffec;
}

nav.stroke ul li a:hover:after {
    width: 100%;
}

nav.fill ul li a {
    transition: all 2s;
}

nav.fill ul li a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
}
nav.fill ul li a:hover {
    color: #fff;
    z-index: 1;
}
nav.fill ul li a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
}

#video-container {
    width: 100%;
    height: 65vh;
    overflow: hidden;
}

.video-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 65vh;
    z-index: -2;
    overflow: hidden;
}

.video-wrapper video {
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
}

.video-overlay {
    position: absolute;
    height: 65vh;
    width: 100vw;
    top: 0;
    left: 0;
    overflow: hidden;
    background: #1C2785;
    opacity: 0.25;
    z-index: -1;
}

.overlay-content {
    position: absolute;
    left: 10%;
    top: 15%;
    display: block;
    width: 70%;
    margin: auto;
}

.name-container{
    display: flex;
    flex-direction: row;
}

.name-span {
    display:inline-block;
    padding:0;
    margin: 0 -20px 0 -4px;
    user-select: none !important;
}

.name-div {
    font-size: 7em;
    font-family: 'Roboto', sans-serif;
    color: white;
    position: relative;
}

span.space {
    padding: 0 5px !important;
    margin:0 1px;
}

.alternateLetter{
    position: absolute;
    left: 0;
    z-index: 999;
}

.mainLetter{
    z-index: 111;
}

.overlay-content p {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 2.25em;
    line-height: 1.15;
    letter-spacing: 1px;
    color: white;
    display: block;
    width: 75%;
}

.button {
    background-color: transparent;
    border-radius: 10px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    vertical-align: middle;
    width: 150px;
    height: 30px;
    font-family: 'Nunito', sans-serif;
    line-height: 30px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.button1 {
    color: white;
    border: 2px solid #14ffec;
    border-radius: 10px;
}

.button1:hover {
    color: white;
    border: 2px solid #BB86FC;
}

.overlay-content h2 {
    position: absolute;
    margin: auto;
    font-size: 18px;
    color: white;
    display: block;
    text-align: center;
    bottom: 0;
    left: 50%;
}

.arrow {
    animation: arrowBounce 4s ease-in-out infinite;
    position: absolute;
    color: white;
    opacity: 1;
    top: 90%;
    left: 50%;
    z-index: 999;
}

.about-container {
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.about-content {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.about-content h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 2.25em;
    text-align: center;
    margin: 0;
}

.about-content p {
    color: white;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    margin: 0;
}

.about-content a {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    width: 25%;
    height: 50px;
    background-color: transparent;
    border: 2px solid #14ffec;
    color: white;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
}

.about-content a:hover {
    border-color: #BB86FC;
    color: white;
}

.about-btn-container {
    margin: 0;
    width: 85%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.vertical-divider {
    width: 3px;
    height: 75px;
    background-color: #BB86FC;
}

.horizontal-divider {
     width: 250px;
     height: 3px;
     background-color: #BB86FC;
     margin: 0 30px;
     transition: opacity 250ms ease-in;
 }

.horizontal-divider-full {
    width: 70%;
    height: 3px;
    background: linear-gradient(-45deg, #14ffec, #BB86FC);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    margin: 0 30px;
}

#avatar-desk {
    height: 100%;
}

#avatar-mobil {
    width: 75%;
    display: none;
}

.project-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.project-start {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    letter-spacing: 2px;
}

.project-outer {
    position: relative;
    width: 80%;
    height: 200px;
    margin: auto;
    border: solid white;
    border-radius: 15px;
}

.project-inner {
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 200px;
    margin: auto;
    overflow: hidden;
}

.project-one {
    background-color: #151515;
}

.project-two {
    background-color: #151515;
}

.project-three {
    background-color: #151515;
}

.project-div {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: auto;
}

.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-color: #333;*/
    opacity: 50%;
    z-index: 100;
}

.project-content-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    height: 100%;
    width: 400px;
    right: 0;
    background-color: white;
    opacity: .94;
    transform: translateX(100%);
    border-radius: 5px;
}

.project-content-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    height: 100%;
    width: 400px;
    left: 0;
    background-color: white;
    opacity: .94;
    transform: translateX(-100%);
    border-radius: 5px;
}

.btn-container {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.project-content-right p, .project-content-left p {
    color: #151515;
    width: 75%;
    height: 50%;
    font-size: 18px;
    margin: auto;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-content-right a, .project-content-left a {
    text-align: center;
    line-height: 35px;
}

.project-name {
    color: white;
    font-size: 85px;
    font-weight: 200;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 15px;
    top: 0;
    z-index: 999;
}

#project-name-one {
    font-family: 'Great Vibes', cursive;
}

#project-name-two {
    font-family: 'Krub', sans-serif;
    font-weight: 200;
}

#project-name-three {
    font-family: 'Playfair Display', serif;

}

.project-btn {
    width: 30%;
    height: 35px;
    font-family: 'Playfair Display', serif;
    background-color: transparent;
    border: 2px solid #151515;
    border-radius: 5px;
    color: #151515;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    z-index: 999;
}

.project-btn:hover {
    background-color: #151515;
    color: white;
}

.num-left {
    color: #14ffec;
    position: absolute;
    font-size: 64px;
    bottom: 115px;
    left: 15px;
    z-index: 999;
    overflow: unset;
}

.num-right {
    color: #14ffec;
    position: absolute;
    font-size: 64px;
    bottom: 115px;
    right: 15px;
    z-index: 999;
    overflow: visible;
}

#skill-container {
    width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.skills {
    height: 400px;
    width: 25%;
    border: 3px solid #14ffec;
    border-radius: 10px;
}

.call-to-action-container {
    position: relative;
    width: 100%;
    height: 250px;

}

.call-to-action {
    transform: translateY(125px);
    width: 70%;
    margin: auto;
    z-index: 999;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #151515;
    padding: 25px;
}

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.gradient-border {
    position: absolute;
    left: 23.5%;
    top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    --borderWidth: 3px;
    background: #151515;
    border-radius: 10px;
    padding: 25px;
}
.gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(-45deg, #14ffec, #BB86FC);
    border-radius: calc(3.5 * var(--borderWidth));
    z-index: -1;
    animation: gradient 10s ease infinite;
    background-size: 400% 400%;
}

footer {
    z-index: -999;
    background: linear-gradient(-45deg, #14ffec, #BB86FC);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    position: relative;
    width: 100vw;
    height: 200px;
}

footer p {
    position: absolute;
    left: 0.5%;
    bottom: -4.5%;
    font-family: 'Nunito', sans-serif;
    color: #151515;
}

.fa {
    padding: 20px;
    font-size: 25px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border: 2px solid #151515;
    border-radius: 50%;
    background-color: #151515;
    transition: ease-in-out .5s;
    position: relative;
    z-index: 9;
}

.social-icons {
    list-style: none;
    position: absolute;
    right: 1%;
    bottom: -80%;
    margin: 0;
}

.social-icons li {
    display: inline-block;
    position: relative;
    z-index: 9;
}

.fa:hover {
    background: transparent;
}

.fa:before {
    color: white;
}

.fa:hover:before {
    color: #151515;
}


/* Scroll Bar -------------------------------*/

body::-webkit-scrollbar {
    width: 10px;
    border-radius: 3px;
}

body::-webkit-scrollbar-track {
    display: none;
    color: transparent;
    border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
    background-color: #14ffec;
    border-radius: 3px;
}

@keyframes arrowBounce {
    0% {
        transform: translateY(0px) rotate(270deg);
    }
    50% {
        transform: translateY(-33px) rotate(270deg);
    }
    100% {
        transform: translateY(0px) rotate(270deg);
    }
}

@keyframes overlayFadeIn {
    from{
        opacity: 50%;
    }
    to{
        opacity: 75%;
    }
}

@keyframes overlayFadeOut {
    from{
        opacity: 75%;
    }
    to{
        opacity: 50%;
    }
}

@keyframes projectContentSlideIn {
     from{
         transform: translateX(100%);
         z-index: 999;
     }
     to{
         transform: translateX(0%);
         z-index: 999;
     }
 }

@keyframes projectContentSlideOut {
    from{
        transform: translateX(0%);
        z-index: 999;
    }
    to{
        transform: translateX(100%);
        z-index: 999;
    }
}

@keyframes projectContentSlideIn2 {
    from{
        transform: translateX(-100%);
        z-index: 999;
    }
    to{
        transform: translateX(0%);
        z-index: 999;
    }
}

@keyframes projectContentSlideOut2 {
    from{
        transform: translateX(0%);
        z-index: 999;
    }
    to{
        transform: translateX(-100%);
        z-index: 999;
    }
}

@keyframes shake {
     10%, 90% {
         transform: translate3d(-1px, 0, 0) rotate(7deg);
     }

     20%, 80% {
         transform: translate3d(1px, 0, 0) rotate(-7deg);
     }

     30%, 50%, 70% {
         transform: translate3d(-2px, 0, 0) rotate(7deg);
     }

     40%, 60% {
         transform: translate3d(2px, 0, 0) rotate(-7deg);
     }
 }

@keyframes shake2 {
    10%, 90% {
        transform: translate3d(-1px, 0, 0) rotate(7deg);
    }

    20%, 80% {
        transform: translate3d(1px, 0, 0) rotate(-7deg);
    }

    30%, 50%, 70% {
        transform: translate3d(-2px, 0, 0) rotate(7deg);
    }

    40%, 60% {
        transform: translate3d(2px, 0, 0) rotate(-7deg);
    }
}

@keyframes alternateLetterAnimationIn {
    from{
        transform: translateX(0px) translateY(0px);
        color: white;
    }
    to{
        transform: translateX(3px) translateY(3px);
        color: #14ffec;
    }
}

@keyframes alternateLetterAnimationOut {
    from{
        transform: translateX(3px) translateY(3px);
        color: #14ffec;
    }
    to{
        transform: translateX(0px) translateY(0px);
        color: white;
    }
}

@keyframes mainLetterAnimationIn {
    from{
        transform: translateX(0px) translateY(0px);
        color: white;
    }
    to{
        transform: translateX(-3px) translateY(-3px);
        filter: blur(3px);
        color: #BB86FC;
    }
}

@keyframes mainLetterAnimationOut {
    from{
        transform: translateX(-3px) translateY(-3px);
        filter: blur(3px);
        color: #BB86FC;
    }
    to{
        transform: translateX(0px) translateY(0px);
        filter: blur(0px);
        color: white;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media only screen and (max-width: 600px) {

    #video-container {
        height: 75vh;
    }

    .video-wrapper {
        height: 75vh;
    }

    .video-overlay {
        height: 75vh;
    }

    .overlay-content {
        top: 5%;
        width: 80%;
        height: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .overlay-content p {
        font-size: 2em;
        width: 90%;
        line-height: 1;
        margin-top: 10px
    }

    .social-icons {
        list-style: none;
        position: absolute;
        right: 2%;
        bottom: -110%;
    }

    .about-content a {
        width: 40%;
    }

    .name-div {
        font-size: 5.5em;
    }

    .gradient-border {
        width: 80%;
        margin: auto;
        left: 3.5%;
        top: 40%;
    }

    .project-name {
        font-size: 3em;
        margin: 0;
        height: 50%;
        width: 90%;
        text-align: left;
        align-items: center;
        left: 2.5%;
    }

    #project-name-one {
        margin-top: 15%;
    }

    #project-name-three {
        margin-top: 15%;
    }

    .name-container {
        flex-direction: column;
    }

    .about-container {
        width: 100%;
        height: 675px;
    }

    .about-content {
        width: 80%;
    }

    .about-btn-container {
        margin-top: 15px;
    }

    #avatar-desk {
        display: none;
    }

    #avatar-mobil {
        display: block;
    }

    #header-div {
        display: none;
    }

    .project-content-left {
        width: 100%;
    }

    .project-content-right {
        width: 100%;
    }

    .project-btn {
        width: 40%;
    }

    footer {
        height: 275px;
    }
}